body{
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#info{
    z-index: 100;
    color:white;
    padding: 10px;
    margin: 10px;
}

.textmain{
    opacity: 100%;
    text-decoration: none;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
  }
.mainpage{
    font-family: 'Poppins', sans-serif;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 5em;
    color: white;
}

#add-to {
    right: 10px;
    top: 10px;
    position: absolute;
}

#get-card{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    width: 500px;
    height: 200px;
    border-radius: 10px;
    max-height: 80%;
}
.alertbtn{
    position: absolute;
    right: 10px;
    top: 10px;
    align-items: center;
    padding: 0;
    margin: 0;
}
.example_c {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 10px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-family: 'Poppins' sans-serif;
    }

.example_c:hover {
        color: #000 !important;
        background: #f6b93b;
        border-color: #f6b93b !important;
        transition: all 0.4s ease 0s;
        }

#doctoralrt{
    right: 50px;
    top:30px;
}

#otstart{
    right: 70px;
    top: 100px;
}
